@font-face {
  font-family: akkaPose;
  src: url(../font/akaPosse.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: "Mukta", sans-serif;
}

footer {
  background-color: black;
  margin-top: 5%;
  padding: 10px 0;
  text-align: center;
  width: 100%;
}

.sections-wrapper {
  background-image: url(../img/backgrounds/background-sections.png);
}

li {
  list-style: none;
}

p::selection {
  background-color: black;
  color: white;
}

.bord {
  border-right: 1px solid white;
  margin-right: 1%;
  padding-right: 10px;
}

.footer__item {
  color: white;
  text-align: center;
  display: inline-block;
}

.sections-nav {
  background-color: black;
}

.sectionsNav-item__link-homepage {
  background-color: pink;
  border-radius: 3px;
  float: right;
  position: absolute;
  top: 20px;
  right: 115px;
  padding: 4.7px 10px;
  transition-duration: 0.4s;
}

.sectionsNav-item__link-homepage:hover {
  background-color: white;
  box-shadow: 0px 2px 10px 10px #8a5c64;
}

.Nav-item__img-homepage {
  height: 33px;
}

.sections-main {
  padding-top: 2.5%;
}

.sectionsNav-item__li {
  display: inline-block;
  margin: 0 5%;
}

.sectionsNav-item__link {
  color: white;
  font-family: "akkaPose", Helvetica;
  font-size: 1.5em;
  letter-spacing: 4px;
  position: relative;
}

.sectionsNav-item__link::before {
  background-color: pink;
  content: "";
  color: pink;
  display: block;
  height: 3px;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: all 0.3s;
  width: 0;
}

.sectionsNav-item__link:hover::before {
  color: pink;
  width: 100%;
}

.sectionsNav-item__link:hover {
  color: pink;
  padding-bottom: 5px;
}

.sectionsNav-item__link-lang {
  background-color: pink;
  border-radius: 3px;
  color: black;
  font-family: "akkaPose", Helvetica;
  font-size: 1.5em;
  float: right;
  position: absolute;
  right: 2%;
  top: 20px;
  padding: 10px 15px;
  transition-duration: 0.4s;
}

.sectionsNav-item__link-lang:hover {
  background-color: white;
  color: black;
  box-shadow: 0px 2px 10px 10px #8a5c64;
}

.sectionUl__nav {
  padding: 30px 0;
  text-align: center;
}

.section__title {
  background-color: pink;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.363);
  color: black;
  border: 8px double black;
  border-left: 0;
  display: inline-block;
  font-family: "akkaPose", Helvetica;
  font-size: 2em;
  letter-spacing: 2px;
  padding: 20px 50px;
  margin-bottom: 2%;
  text-align: center;
}

.columns-container {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.363);
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  margin: 0 auto;
  max-width: 55%;
}

.columns__item {
  background-color: rgba(255, 192, 203, 0.644);
  padding: 3em;
  width: 50%;
}

.homepage-wrapper {
  background-image: url("../img/backgrounds/background-homepage.jpg");
  background-size: cover;
  height: 120vh;
}
@media (min-width: 375px) {
  .homepage-wrapper {
    height: 100vh;
  }
}

.homepage-main {
  max-width: 80%;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .homepage-main {
    max-width: 100%;
  }
}

.lang-container {
  display: flex;
  flex-direction: row-reverse;
  padding-top: 25px;
}
@media (min-width: 768px) {
  .lang-container {
    padding-right: 30px;
    padding-top: 30px;
  }
}

.homepageNav-item__link {
  color: pink;
  font-family: "akkaPose", Helvetica;
  font-size: 1.375rem;
  padding: 10px 25px;
  position: relative;
}
@media (min-width: 520px) {
  .homepageNav-item__link {
    font-size: 2rem;
  }
}
@media (min-width: 1024px) {
  .homepageNav-item__link {
    font-size: 2rem;
  }
}

.homepageNav-item__link::before {
  background-color: white;
  content: "";
  display: block;
  height: 3px;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: all 0.3s;
  width: 0;
}

.homepageNav-item__link:hover::before {
  width: 100%;
}

.homepageNav-item__li {
  text-align: center;
  letter-spacing: 2px;
  list-style: none;
  padding: 18px 0;
}
@media (min-width: 768px) {
  .homepageNav-item__li {
    padding: 25px 0;
  }
}
@media (min-width: 1440px) {
  .homepageNav-item__li {
    padding: 30px 0;
  }
}

.homepage__link--lang {
  background-color: #f1ebee;
  border-radius: 5px;
  font-size: 1.675rem;
  border-bottom: 5px solid #dbd3d7;
  box-shadow: 0px 1px 8px 3px #a8a6a6;
  color: black;
  font-family: "akkaPose", Helvetica;
  padding: 8px 15px;
  transition-duration: 0.4s;
}

.homepage__link--lang:hover {
  background-color: #ffdae0;
  border-bottom: 5px solid #e4a2ad;
  box-shadow: 0px 1px 8px 3px #8a5c64;
  color: #781F3C;
}

.homepage__title {
  color: pink;
  font-family: "akkaPose", Helvetica;
  font-size: 4.5rem;
  letter-spacing: 4px;
  padding-top: 30px;
  text-align: center;
}
@media (min-width: 520px) {
  .homepage__title {
    font-size: 5rem;
  }
}
@media (min-width: 768px) {
  .homepage__title {
    font-size: 6.25rem;
  }
}

.homepage__subtitle {
  color: pink;
  font-family: "Mukta", sans-serif;
  font-size: 1.25rem;
  letter-spacing: 3px;
  margin-bottom: 35px;
  padding-top: 15px;
  text-align: center;
}
@media (min-width: 520px) {
  .homepage__subtitle {
    font-size: 1.5rem;
    margin-bottom: 55px;
  }
}
@media (min-width: 768px) {
  .homepage__subtitle {
    font-size: 2rem;
  }
}
@media (min-width: 1024px) {
  .homepage__subtitle {
    margin-bottom: 65px;
  }
}

.profile {
  border: 8px solid white;
  box-sizing: border-box;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.363);
  max-width: 100%;
}

.profile:hover {
  transform: scale(1);
  transition: 0.3s ease-in-out;
}
.profile:hover:hover {
  transform: scale(1.1);
}

.about__email {
  color: #781F3C;
  font-weight: bold;
  text-decoration: underline;
}

.about__email:hover {
  color: #756064;
  transition-duration: 0.4s;
}

.about__email:visited {
  color: #0490bb;
}

.about__item__text {
  font-size: 1.25em;
  padding-bottom: 30px;
}

.services__list {
  margin-bottom: 20px;
}

.services__itemList {
  font-size: 1.3em;
  padding-bottom: 10px;
  list-style-image: url(../img/assets/bullet.png);
}

.services__subtitle {
  font-family: "akkaPose", Helvetica;
  font-size: 2.2em;
  margin: 20px 0;
  text-align: center;
}

.column-services {
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  flex-flow: row wrap;
  justify-content: center;
  margin: 0 auto;
  max-width: 55%;
}

.services__content {
  background-color: rgba(255, 192, 203, 0.644);
  border: 2px solid black;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.363);
  box-sizing: border-box;
  margin-right: 2%;
  margin-bottom: 2%;
  padding: 20px 40px;
  width: 40%;
}

.projects__content {
  background-color: rgba(255, 192, 203, 0.644);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.363);
  margin: 0 auto;
  padding: 3em;
  max-width: 55%;
}

#github__list {
  margin-top: 2%;
}

.projects__img {
  border: 5px solid white;
  box-sizing: border-box;
  margin-right: 2%;
  margin-top: 3%;
  transform: scale(1);
  transition: 0.3s ease-in-out;
  width: 31%;
}
.projects__img:hover {
  transform: scale(1.1);
}

.projects__img:hover {
  transform: scale(1);
  transition: 0.3s ease-in-out;
}
.projects__img:hover:hover {
  transform: scale(1.1);
}

.projects__subtitle {
  font-family: "akkaPose", Helvetica;
  font-size: 3em;
  margin: 25px 0;
  text-align: center;
}

.gitChild {
  margin-bottom: 3%;
}

.contact__subtitle {
  font-size: 1.8em;
  letter-spacing: 1px;
}

.contact__text {
  font-size: 1.375em;
  margin-bottom: 5%;
}

.contact__item__socialMedia {
  display: inline-block;
  margin-right: 5%;
}

.icons {
  color: #781F3C;
  font-size: 3.125em;
}

/*# sourceMappingURL=main.css.map */
