.homepage__link--lang {
  background-color: #f1ebee;
  border-radius: 5px;
  font-size: 1.675rem;
  border-bottom: 5px solid #dbd3d7;
  box-shadow: 0px 1px 8px 3px #a8a6a6;
  color: $black;
  font-family: $font-titular;
  padding: 8px 15px;
  transition-duration: 0.4s;
}

.homepage__link--lang:hover {
  background-color: #ffdae0;
  border-bottom: 5px solid #e4a2ad;
  box-shadow: 0px 1px 8px 3px #8a5c64;
  color: $wine;
}
