.homepage__title{
  color: $pink;
  font-family: $font-titular;
  font-size: 6.25em;
  letter-spacing: 4px;
  margin: 0;
  padding-top: 5%;
  text-align: center;
}

.homepage__subtitle{
  color: $pink;
  font-family: $font-principal;
  font-size: 2em;
  letter-spacing: 3px;
  margin-bottom: 5%;
  padding-top: 1%;
  text-align: center;
}