.homepageNav-item__link {
  color: $pink;
  font-family: $font-titular;
  font-size: 1.375rem;
  padding: 10px 0;
  position: relative;

  @media (min-width: $breakpoint-sm) {
    font-size: 2rem;
  }
  @media (min-width: $breakpoint-lg) {
    font-size: 2rem;
  }
}

.homepageNav-item__link::before {
  background-color: white;
  content: '';
  display: block;
  height: 3px;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: all .3s;
  width: 0;
}

.homepageNav-item__link:hover::before {
  width: 100%;
}

.homepageNav-item__li {
  text-align: center;
  letter-spacing: 2px;
  list-style: none;
  padding: 18px 0;

  @media (min-width: $breakpoint-md) {
    padding: 25px 0;
  }
  @media (min-width: $breakpoint-xl) {
    padding: 30px 0;
  }
}
