*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

body{
  font-family: $font-principal;
}

footer{
  background-color: $black;
  margin-top: 5%;
  padding: 10px 0;
  text-align: center;
  width: 100%;
}

.sections-wrapper{
  background-image: url(../img/backgrounds/background-sections.png);
}

li{
  list-style: none;
}

p::selection{
  background-color: $black;
  color: $white;
}
