// BREAKPOINTS
$breakpoint-sm: 520px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1440px;


// FONTS
$font-titular: 'akkaPose', Helvetica;
$font-principal: 'Mukta', sans-serif;

@font-face{
  font-family: akkaPose;
  src: url(../font/akaPosse.ttf);
}


// COLORS
$black: black;
$light-blue: #0490bb;
$pink: pink;
$white: white;
$wine: #781F3C;


// MIXINS
@mixin imgHover{
  transform: scale(1);
  transition: .3s ease-in-out;
    &:hover{
  transform: scale(1.1);
  }
}