// TIPOGRAFÍAS
$font-titular: 'akkaPose', Helvetica;
$font-principal: 'PT Serif', 'Times New Roman', serif;

// COLORES
$brown: #342205;
$gold: #D4AF37;
$green: #a8aa7c;
$wine: #781F3C;

// TAMAÑOS
$size-principal: 1.375em;

@font-face{
  font-family: akkaPose;
  src: url(../font/akaPosse.ttf);
}

@mixin subtitle{
  background-color: $wine;
  color: $gold;
  display: inline-block;
  font-family: $font-titular;
  font-size: 2em;
  letter-spacing: 2px;
  padding: 20px 50px;
  text-align: center;
}

@mixin zoom-in {
  transform: scale(1);
  transition: .3s ease-in-out;
    &:hover{
  transform: scale(1.1);
  }
}
