.services__list{
  margin-bottom: 20px;
}

.services__itemList{
  font-size: 1.3em;
  padding-bottom: 10px;
  list-style-image: url(../img/assets/bullet.png);
}

.services__subtitle{
  font-family: $font-titular;
  font-size: 2.2em;
  margin: 20px 0;
  text-align: center;
}
