.column-services{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 80%;

  @media (min-width: $breakpoint-md) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  @media (min-width: $breakpoint-xl) {
    flex-flow: row wrap;
    justify-content: center;
    max-width: 55%;
  }
}

.services__content{
  background-color: rgba(255, 192, 203, 0.644);
  border: 2px solid black;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.363);
  box-sizing: border-box;
  margin-bottom: 30px;
  padding: 20px 40px;
  
  @media (min-width: $breakpoint-md) {
    width: 48%;
  }
  @media (min-width: $breakpoint-xl) {
    margin-right: 2%;
    margin-bottom: 2%;
    width: 43%;
  }
}