.contact-txt{
  font-size: $size-principal;
  padding-bottom: 5%;
}

.icons{
  font-size: 6.25em;
  color: $wine;
  display: inline-block;
}

.schedule{
  color: $wine;
  font-weight: bold;
  font-size: 1.25em;
}

.social-media{
  display: inline-block;
  margin-right: 8%;
}

