.contact-txt{
  font-size: $size-principal;
  padding-bottom: 5%;
}

.icons{
  font-size: 6.25em;
  color: $wine;
  @include zoom-in();
}

.icons:hover{
  color: #8C3953;
}

.schedule{
  color: $wine;
  font-weight: bold;
  font-size: 1.25em;
}

.schedule::selection{
  background-color: $gold;
  color: whitesmoke;
}

.social-media{
  display: inline-block;
  margin-right: 8%;
}
