.columns{
  border: solid 3px $wine;
  background-image: url(../img/green-bg.jpg);
  margin-right: 1%;
  margin-top: 2%;
  width: 25%;
  position: relative;
}

.services-title, .services-subtitle{
  text-align: center;
  font-size: 3em;
  font-family: $font-titular;
  letter-spacing: 3px;
  color: $brown;
}

.skills{
  font-size: $size-principal;
  list-style-image: url('../img/settings.png');
  padding-bottom: 20px;
}

.ul-skills{
  padding: 5% 20% 15%;
}

.geartest{
  position: absolute;
  right: 5px;
  top: 5px;
}

.bottom{
  position: absolute;
  left: 5px;
  bottom: 0%;
}
